*{
    font-family: 'Fredoka One', cursive;
    text-align: center; 
}
#head{
    font-size: 300%; 
    background-color: hsl(34, 78%, 91%);
    margin: 0 40%;
    padding: 0.1%;
    width: 20%;
    height: 5%;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#p1{ 
    align-self: center;
    font-size: 300%;
    width: 100%;
    height: 50%;
}
#live{
    position: absolute;
    
}

.qs{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    display: inline-block;
    margin: 1%;
    padding: 5% 0;
    border-radius: 40px;
}

.l1{
    margin: 0;
    background-color: bisque;
    width: 300px;
    height: 50px;
}

.l2{
    font-size: 150%;
    padding: 10% 0;
    background-color: antiquewhite;
    width: 500px;
    height: 50px;
}

.as{
    font-size: 200%;
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 30px;
    margin-left: 1%;
    background-color: rgb(255, 246, 121);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
.as:hover{
    background-color: rgb(255, 230, 0);
    transition: 0.5s;
    transform: scale(1.1);
}